<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "base/partials/fonts-google-pre.html" %}
    {% include "base/partials/fonts-google-icons-bootstrap.html" %}
    {% include "base/partials/link-css.html" %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% include "base/partials/header.html" %}
    <main>
        {% block content %}{% endblock content %}
    </main>
    {% include "base/partials/footer.html" %}
    {% include "base/partials/dialog.html" %}
</body>
</html>