<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static "base/css/style.css" %}">
    <script defer src="{% static "base/js/script.js" %}"></script>
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        <h1>Lista de tarefas</h1>
    </header>
    <main>
        <div class="container">
            {% block main %}{% endblock main %}
        </div>
    </main>
    <footer>
        
    </footer>
</body>
</html>