<header>
    <section class="logo">
        <p>Micro<strong>Blog</strong></p>
        <ul>
            {% if user.is_authenticated %}
                <li>
                    <span>Olá, {{user.username}}!</span>
                </li>
                <li>
                    <form action="{% url "accounts:logout" %}" method="post">{% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </li>
                <li>
                    <button>
                        <i class="bi bi-search"></i>
                    </button>
                </li>
            {% else %}
                <li>
                    <a href="{% url "accounts:login" %}">Login</a>
                </li>
                <li>
                    <a href="{% url "accounts:signup" %}">Registrar-se</a>
                </li>
                <li>
                    <button id="search">
                        <i class="bi bi-search"></i>
                    </button>
                </li>
            {% endif %}
            
        </ul>
    </section>
    <nav>
        <ul>
            <li>
                <a href="{% url "blog:post_list_view" %}">Início</a>
            </li>
            <li>
                <a href="">Sobre</a>
            </li>
        </ul>
    </nav>
</header>