{% load static %}
<link rel="stylesheet" href="{% static "base/css/global.css" %}">
<link rel="stylesheet" href="{% static "base/css/header.css" %}">
<link rel="stylesheet" href="{% static "base/css/list-posts.css" %}">
<link rel="stylesheet" href="{% static "base/css/details.css" %}">
<link rel="stylesheet" href="{% static "base/css/login.css" %}">
<link rel="stylesheet" href="{% static "base/css/signup.css" %}">
<link rel="stylesheet" href="{% static "base/css/about.css" %}">
<link rel="stylesheet" href="{% static "base/css/footer.css" %}">
<script src="{% static "base/js/script.js" %}" defer></script>