{% extends "base/pages/base.html" %}

{% block title %}Faça seu login{% endblock title %}

{% block content %}
    <section class="login">
        <form action="" method="POST">{% csrf_token %}
            <div>
                <label for="id_username">Nome de Usuário:</label>
                {{ form.username }}
            </div>
            <div>
                <label for="id_password">Sua Senha:</label>
                {{form.password}}
            </div>
            <button type="submit">Logar</button>
        </form>
        <div class="errors">
            {% if form.errors %}
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </section>
{% endblock content %}