@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alumni Sans", sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    height: 100dvh;
    display: grid;
    place-items: center;
}

.video {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    background-position: center;
    z-index: -1;
}

.container {
    width: 90%;
    max-width: 64rem;
    padding: 1rem;
    

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 3rem;
}

