.header-search {
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-end;
}

.header-search .field-search {
    padding: 1rem;
    width: 4.5rem;
    height: 3.125rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: .5rem;
    background-color: white;
    transition: all .5s ease-in-out;
}

.header-search .field-search.open {
    width: 18.75rem;
    border-radius: 100px;
}

.header-search .field-search button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header-search .field-search button img {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
}

.header-search .field-search input {
    padding: 1rem;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 1.2rem;
    font-weight: 700;
}

@media (width < 64rem) {
    .header-search {
        /* justify-content: center; */
    }
}