.main-content {
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 21.875rem 1fr 21.875rem;
}

.main-content .weather, .main-content .music {
    padding: 1rem;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    position: relative;
    z-index: 2;
}

.main-content .weather {
    grid-column: 1 / 2;
}

.main-content .music {
    grid-column: 3 / 4;
}

.main-content .weather::after, .main-content .music::after {
    content: '';
    display: block;
    width: 100%;
    height: 25.375rem;
    position: absolute;
    left: 0;
    top: 5.875rem;

    background: linear-gradient(180deg, rgba(194, 188, 194, 0) 0%, rgba(194, 188, 194, 0.8) 49.26%);
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    box-shadow: 0px 5px 5px 0px #00000040;
    border-radius: 50px;
    z-index: -1;
}

.main-content .weather img, .main-content .music img {
    width: 9.375rem;
}

.main-content .weather h2, .main-content .music h2 {
    font-size: 3.375rem;
    text-transform: uppercase;
}

.main-content .weather h2 {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-content .weather h3 {
    font-size: 9rem;
    text-transform: uppercase;
}

.main-content .weather div {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.main-content .weather div p {
    font-size: 1.5rem;
}

.main-content .music ul {
    align-self: self-start;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-content .music ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main-content .music ul li p {
    font-size: 2rem;
}

.main-content .music ul li img {
    width: 2.5rem;
}

#container-player iframe {
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

@media (width < 64rem) {
    .main-content {
        display: grid;
        grid-template-columns: 1fr 21.875rem 1fr;
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        gap: 2rem;
    }

    .main-content .weather {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .main-content .music {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
}