.list-tasks {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.list-tasks > li > article {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 2px solid var(--border);
    border-radius: 8px;
    background-color: var(--bg-card);
}

.list-tasks > li > article > p {
    flex: 1;
}

.list-tasks > li > article > button {
    padding: .5rem 1rem;
    border-radius: 8px;
    border: none;
}

.list-tasks > li > article > button > svg {
    fill: var(--text-on-primary);
}

.list-tasks > li > article > button.check {
    background-color: var(--success);
}

.list-tasks > li > article > button.edit {
    background-color: var(--pending);
}

.list-tasks > li > article button.del {
    background-color: var(--danger);
}