:root {
  /* Fundo e textos */
  --color-bg:        #ffffff; /* branco */
  --color-text:      #2C3E50; /* azul‑grafite escuro para leitura */

  /* Cores principais */
  --color-primary:   #3498DB; /* azul vívido (links, destaques) */
  --color-secondary: #2ECC71; /* verde claro (botões, labels) */

  /* Cores de apoio */
  --color-accent:    #E67E22; /* laranja forte (ações, alertas leves) */
  --color-muted:     #7F8C8D; /* cinza médio (textos secundários) */

  /* Cores de status */
  --color-success:   #27AE60; /* verde escuro (sucesso) */
  --color-warning:   #F1C40F; /* amarelo (aviso) */
  --color-error:     #E74C3C; /* vermelho (erros) */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 12rem 1fr 4rem;
    gap: 2rem;
    background-color: var(--color-bg);
    color: var(--color-text);
}

a {
    display: inline-block;
}


dialog {
    width: 80%;
    max-width: 37.5rem;
    height: 50vh;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: 2rem 1fr 2rem;
    gap: 2rem;
    border-radius: 8px;
    position: relative;
}

dialog.hidden {
    display: none;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

dialog header {
    text-align: center;
}

dialog main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

dialog main form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

dialog main form button {
    align-self: self-end;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-bg);
    font-weight: 900;
    cursor: pointer;
}

dialog main form input {
    padding: 1rem .5rem;
    border-radius: 8px;
    border: 1px solid var(--color-primary);
    outline: none;
}

dialog footer {
    background-color: transparent;
}

dialog footer button {
    padding: 1rem;
    border-radius: 8px;
    border: none;
    background-color: var(--color-error);
    color: var(--color-bg);
    font-weight: 900;
    cursor: pointer;
}