main .list-posts {
    width: 37.5rem;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

main .list-posts ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main .list-posts ul li article.card-post {
    min-height: 15rem;
    display: flex;
    align-items: flex-start;
    gap: .5rem;
    padding-top: 2rem;
    border-top: 1px solid var(--color-primary);
}

main .list-posts ul li article.card-post .title-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: .5rem;
}

main .list-posts ul li article.card-post .title-content h3:nth-of-type(1) a {
    font-size: 1.5rem;
    color: var(--color-primary);
}

main .list-posts ul li article.card-post .title-content div p:nth-of-type(1) {
    font-size: .8rem;
}

main .list-posts ul li article.card-post .title-content div a {
    color: var(--color-accent);
    font-size: .8rem;
    font-weight: 900;
}

main .list-posts ul li article.card-post .cover {
    flex-shrink: 0;
}

main .list-posts ul li article.card-post .cover img {
    width: 10.25rem;
    height: 10.25rem;
    object-fit: cover;
    border-radius: 8px;
}