main {
    width: 46rem;
    margin: 8rem auto;
    color: var(--gray-100);

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.completed-tasks {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.list-taks {
    width: 100%;
    border-radius: var(--border-radius);
    border-top: 1px solid var(--border-radius);
}