#main {
    display: grid;
    grid-template-columns: 21.875rem 1fr 21.875rem;
}

#main .main__weather {
    padding: 1rem;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    position: relative;
}

#main .main__weather .main__weather_content, #main .main__music .main__music_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#main .main__weather .main__weather_content h2, #main .main__music .main__music_content h2 {
    font-size: 3.5rem;
    text-align: center;
    font-weight: 400;
}

#main .main__weather .main__weather_content h2 {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#main .main__weather .main__weather_content h3 {
    font-size: 7rem;
    text-align: center;
}

#main .main__weather .main__weather_footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#main .main__music {
    padding: 1rem;
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    position: relative;
}

#main .main__music .main__music_content ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#main .main__music .main__music_content ul li button {
    padding: .5rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#main .main__music .main__music_content ul li button img {
    width: 2.5rem;
}

#main .main__music .main__music_content ul li button p {
    font-size: 1.2rem;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#main .main__weather .main__weather_header, #main .main__music .main__music_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main .main__weather .main__weather_header img, #main .main__music .main__music_header img {
    width: 10rem;
}

.card::after {
    content: '';
    display: block;
    width: 100%;
    height: 32rem;
    position: absolute;
    left: 0;
    top: 4rem;

    background: linear-gradient(180deg, rgba(194, 188, 194, 0) 0%, rgba(194, 188, 194, 0.8) 49.26%);
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    box-shadow: 0px 5px 5px 0px #00000040;
    border-radius: 50px;
    z-index: -1;
}


@media (width < 64rem) {
    #main {
        grid-template-columns: 350px;
        grid-template-rows: repeat(2, 1fr);
        gap: 5rem;
    }

    #main .main__weather {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #main .main__music {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-bottom: 3rem;
    }
}
