.dialog {
    border: none;
    border-radius: 10px;
    padding: 20px;
    box-shadow: var(--shadow-strong);
    width: 37.5rem;
    height: 10rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dialog::backdrop {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px); 
}

.dialog__form {
    height: 100%;
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

.dialog__form input {
    flex: 1;
    padding: 1rem;
    border-radius: 7px;
}

.dialog__form button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.dialog__form button svg {
    fill: var(--color-income);
}

.dialog__close {
    position: absolute;
    top: 1px;
    right: 1px;
    fill: var(--color-expense);
    cursor: pointer;
}