.main {
    padding: 1rem;
}

.main__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.main__list_item {
    background-color: var(--bg-card);
    border-radius: 7px;
}

.main__list_item article {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: var(--font-sm);
}

.main__list_item_name {
    flex: 1;
}

.main__list_item_action {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

.main__list_item_action button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.main__list_item_action_button-edit svg {
    fill: var(--color-edit);
    pointer-events: none;
}

.main__list_item_action_button-remove svg {
    fill: var(--color-expense);
    pointer-events: none;
}