* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    background-color: aqua;
}

.row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.col-6 {
    grid-column: span 6;
}

.gap-1 {
    gap: 1rem;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}