:root {
    --primary-black: black;
    --secondary-yellow: yellow;
    --secondary-orange: #FE652B;
    --secondary-lavanda: lavender;
    --secondary-green: green;
    --tertiary-white: white;
    --tertiary-gray: #959595;
    --tertiary-gray-clear: #C2C2C2;

    --font-title: "Oswald", sans-serif;
    --font-text: "Lato", sans-serif;

    --fs-title-xl: 2.25rem;  
    --fs-title-lg: 1.75rem;  
    --fs-title-md: 1.375rem;  
    --fs-title-sm: 1.125rem; 

    --fs-text-lg: 1.125rem;   
    --fs-text-md: 1rem;       
    --fs-text-sm: 0.875rem;

    --space-xs: 0.25rem;  
    --space-sm: 0.5rem;   
    --space-md: 1rem;     
    --space-lg: 2rem;     
    --space-xl: 3rem;
    
    --transition-fast: all 0.2s ease-in-out;
    --transition-base: all 0.35s ease-in-out;

    --break-point-table: 45rem;
    --break-point-desktop: 64rem;

    --border-radius: 8px
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
}

body {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.container {
    width: 100%;
    max-width: 64rem;
    margin: 0 auto;
}

.btn {
    background-color: var(--primary-black);
    color: var(--tertiary-white);
    padding: var(--space-sm) var(--space-lg);
}