#header {
    background-color: var(--primary-black);
    color: var(--tertiary-white);
}

#header div {
    padding: var(--space-lg) var(--fs-text-sm);
    /* display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg); */
    display: grid;
    grid-template-rows: repeat(3, auto);
    place-items: center;
    gap: var(--space-lg);
}

#header .header__nav {
    width: 100%;
}

#header .header__nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-md);
    
}

#header .header__nav ul li a {
    display: block;
    color: inherit;
    font-weight: 900;
}

#header .header__form {
    width: 100%;
}

#header .header__form label {
    width: 100%;
    padding-inline: var(--space-lg);
    border: 2px solid var(--tertiary-white);
    border-radius: var(--border-radius);

    display: flex;
    align-items: center;
    gap: var(--space-sm);
}

#header .header__form label input {
    flex: 1;
    background-color: transparent;
    padding-block: var(--space-md);
    border: none;
    outline: none;
    color: inherit;
}

@media (45rem <= width <= 64rem) {
    #header div {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;
        grid-template-areas:
            "logo nav"
            "search search";
        align-items: center;
        gap: var(--space-lg);
    }

    #header .header__logo {
        grid-area: logo;
        justify-self: start;
    }

    #header .header__nav {
        grid-area: nav;
        justify-self: end;
    }

    #header .header__form {
        grid-area: search;
        justify-self: center;
        width: 100%;
        max-width: 40rem;
    }

    #header button {
        border: none;
        background-color: transparent;
    }
}

@media (width > 64rem) {
    #header div {
        grid-template-columns: repeat(3, auto);
        grid-template-areas:
        "logo search nav";
        align-self: center;
    }
        #header .header__logo {
        grid-area: logo;
        justify-self: start;
    }

    #header .header__nav {
        grid-area: nav;
        justify-self: end;
    
    }

    #header .header__form {
        grid-area: search;
    }
}