:root {
  --azul-claro: #59b2d8;
  --cinza-claro: #f1eded;
  --roxo-escuro: #6840a0;
  --azul-medio: #4484d2;
  --cinza-escuro: #66605d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    height: 100vh;
    background: linear-gradient(
    to bottom,
    var(--azul-claro) 0%,
    var(--azul-medio) 100%
  );
  font-family: "Roboto", sans-serif;
}

.todo-area {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 29rem;
  max-width: 90%;
  background-color: var(--cinza-claro);
  border-radius: 8px;
  padding: 2rem;
}

.todo-area .todo-box header {
  display: flex;
}

.todo-area .todo-box header h1 {
  color: var(--azul-medio);
}

.todo-area .todo-box header h1 span {
  color: var(--cinza-escuro);
}

.todo-area .todo-box main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-area .todo-box main .new-todo form {
  display: flex;
  justify-content: space-between;
}

.todo-area .todo-box main .new-todo form input {
  width: 80%;
  padding: 1rem;
  border-radius: 5px;
  border: none;
}

.todo-area .todo-box main .task-areas ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}