<header>
    <form 
        hx-post="{% url "crud:add" %}" 
        hx-target="#task-list" 
        hx-swap="beforeend"
        hx-on="htmx:afterRequest: this.reset()"
        >
        
        {% csrf_token %}
        <div class="search">
            <input type="text" name="task" placeholder="Digite uma nova tarefa...">
            <button type="submit">
                <i class="bi bi-plus-lg"></i>
            </button>
        </div>
    </form>
    <div id="task-filter">
        <ul>
            <li>
                <button 
                    class="active"
                    hx-get="{% url 'crud:filter' 'all' %}"
                    hx-target="#task-list"
                    hx-swap="outerHTML"
                    type="button"
                >
                    Todas
                </button>
            </li>
            <li>
                <button
                    hx-get="{% url 'crud:filter' 'completed' %}"
                    hx-target="#task-list"
                    hx-swap="outerHTML"
                    type="button"
                >
                    Completas
                </button>
            </li>
            <li>
                <button
                    hx-get="{% url 'crud:filter' 'pending' %}"
                    hx-target="#task-list"
                    hx-swap="outerHTML"
                    type="button"
                >
                    Pendentes
                </button>
            </li>
        </ul>
    </div>
</header>