.details {
    height: 100%;
}

.details .card-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details .card-details.collapse {
    height: 100%;
    transition: var(--transition-2);
}

/* .details .card-details .question {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-3);
} */

.details .card-details .question button {
    margin-top: var(--space-4);
}