main div.container .index-polls ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: var(--space-4);
}

main div.container .index-polls ul li {
  height: 9rem;
  transition: var(--transition);
}

main div.container .index-polls ul li:hover {
  transform: translateY(-6px);
}

main div.container .index-polls ul li a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-text);
}