{% extends "pages/base.html" %}

{% block title %}Faça seu login{% endblock title %}

{% block header %}
    <nav class="nav-index">
        <h1>Seja Bem Vindo</h1>
    </nav>
{% endblock header %}
{% block main %}
    <form method="post" class="form-index">{% csrf_token %}
        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>

        <div class="form-group">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        <div class="form-button">
            <button type="submit">Entrar</button>
            <a href="">registrar-se</a>
        </div>
    </form>
{% endblock main %}