#testimonials {
    background-color: var(--color-neutral-medium);

    .list-testimonials {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        gap: var(--spacing-md);

        article {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-xl);
        }
        
        

        .card-testimonials {
            display: flex;
            justify-content: center;
            padding: var(--spacing-md);
            background-color: var(--color-neutral-white);
            border-radius: var(--border-radius-default);
            

            header {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 4.5rem;
                    border-radius: 50%;
                    outline: 3px solid var(--color-secondary);
                }
            }

            .content-testimonials {
                position: relative;

                span.aspas-1 {
                    position: absolute;
                    top: -40px;
                    left: -10px;
                    font-size: 4rem;
                    color: var(--color-secondary);
                }

                span.aspas-2 {
                    position: absolute;
                    top: 125%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 4rem;
                    color: var(--color-secondary);
                }
            }
        }

        footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: var(--spacing-sm);

            p:nth-of-type(1) {
                text-align: center;
                font-size: 1.2rem;
                color: var(--color-secondary);
            }

             p:nth-of-type(2) {
                text-align: center;
                color: var(--color-neutral-dark);
             }
        }
    }
}