#plans {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);

    .title-plans {
        text-align: center;
        
        h3 {
            font-size: 2rem;
        }
    }

    .list-cards-plans {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
        gap: var(--spacing-md);

        .card-plans {
            margin-top: var(--spacing-xl);
            padding: var(--spacing-md);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--spacing-xl);
            background-color: var(--color-neutral-white);
            border: 3px solid var(--color-neutral-medium);
            border-radius: var(--border-radius-default);
            transition: all var(--transition-slow);

            &:hover {
                transform: scale(1.03);
            }

            header {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: var(--spacing-md);

                h2 {
                    font-size: 1.8rem;
                }

                h3 {
                    font-size: 1rem;
                    font-weight: 400;
                }
            }

            section {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: var(--spacing-md);

                p:nth-of-type(1){
                    font-size: 1.5rem;
                    font-weight: 900;

                    span {
                        font-size: 1rem;
                        font-weight: 400;
                    }
                }

                p:nth-of-type(2){
                    line-height: 1.5;

                    strong {
                        color: var(--color-secondary);
                    }

                    em {
                        color: var(--color-neutral-dark);
                    }
                }
            }
        }

        .card-plans.card-plans-emphasis {
            margin-top: 0;
            border-color: var(--color-secondary);
            box-shadow: var(--shadow-large);

            section {
                p:nth-of-type(1){
                    color: var(--color-secondary);
                }
            }
        }
    }
}
