@import url('./global.css');
@import url('./header.css');
@import url('./main.css');
@import url('./main-section-hero.css');
@import url('./main-section-abount.css');
@import url('./main-section-plans.css');