{% extends "polls/pages/base.html" %}

{% block title %}{{question.question_text}}{% endblock title %}

{% block main %}
    <div class="details container">
        <div class="card card-details">
            <div class="question">
                <h2>{{question.question_text}}</h2>
                <span>Total de votos : <span class="badge">{{question.total_votes_property}}</span></span>
                <button type="button" class="btn btn-primary">Votar</button>
            </div>
        </div>
    </div>
{% endblock main %}

