<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "polls/partials/fonts.html" %}
    {% include "polls/partials/css.html" %}
    <title>Document</title>
</head>
<body>
    <div class="wrap">
        <header>
            {% include "polls/partials/header.html" %}
        </header>
        <main></main>
        <footer></footer>
    </div>
    {% include "polls/partials/js.html" %}
</body>
</html>