{% extends "polls/pages/base.html" %}

{% block title %}Enquetes{% endblock title %}

{% block main %}
    <div class="container">
        <div class="index-title">
            <h2>
                Enquentes
            </h2>
        </div>
        <div class="index-polls">
            {% if questions %}
                <ul>
                    {% for question in questions %}
                        <li class="card">
                            <a href="{{question.id}}">
                                <span>{{question.question_text}}</span>
                                <span>Total de votos : <span class="badge">{{question.total_votes_property}}</span></span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Não há enquetes disponíveis.</p>
            {% endif %}
        </div>
    </div>
{% endblock main %}