.main {
    padding: var(--space-md);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: var(--space-xl);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xs);
}

.header h2 {
    font-family: var(--font-question);
}

.main__answers-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.main__answers-item {
    padding: var(--space-md);
    background-color: var(--card-bg);
    color: var(--color-text-main);
    border: 3px solid var(--color-border);
    border-radius: var(--radius-base);
    cursor: pointer;
    transition: var(--transition-base);

    display: flex;
    align-items: center;
    gap: var(--space-md);
}

.main__answers-item.active {
    border-color: var(--color-success);
    pointer-events: none;
}

.main__answers-item.disabled {
    opacity: .7;
    border-color: var(--color-error);
    pointer-events: none;
}

.main__answers-item:hover {
    background-color: var(--card-bg-hover);
    transform: scale(1.05);
}

.main__answers-item b {
    text-transform: uppercase;
    font-family: var(--font-option-label);
}

.main__answers-item p {
    flex: 1;
    font-family: var(--font-option-text);
}

.main__footer-list {
    display: flex;
    justify-content: center;
    gap: var(--space-md);
}

.main__footer-list button {
    width: fit-content;
    padding: var(--space-xs);
    border: none;
    color: var(--color-text-main);
    font-size: 1.2rem;
    font-weight: 700;
    /* letter-spacing: .05rem; */
    cursor: pointer;
    border-radius: var(--radius-base);
    transition: var(--transition-base);
}

.main__footer-list button:disabled {
    pointer-events: none;
    opacity: .7;
}

.main__footer-list button:hover {
    transform: scale(1.05);
}

.main__footer-button-confirme {
    background-color: var(--color-success);
}

.main__footer-button-confirme:hover {
    background-color: color-mix(in srgb, var(--color-success)80%, white 20%);
}

.main__footer-button-cancel {
    background-color: var(--color-error);
}

.main__footer-button-cancel:hover {
    background-color: color-mix(in srgb, var(--color-error)80%, white 20%);
}

.main__footer-button-jump {
    background-color: var(--color-warning);
}

.main__footer-button-jump:hover {
    background-color: color-mix(in srgb, var(--color-warning)80%, white 20%);

}