main #home {
    display: flex;
    min-height: calc(100vh - 92.8px);
    position: relative;

    .cta {
        margin-top: 5%;
        width: 35%;
        display: flex;
        flex-direction: column;
        gap: 1.75rem;

        h1 {
            font-size: 4rem;
            color: var(--color-text-hover);

            span {
                color: var(--color-cta-text);
            }
        }

        p {
            font-size: 1.2rem;
            color: var(--color-text-hover);
        }

        .list-cta-buttons {
            display: flex;
            align-items: center;
            gap: 1.5rem;

            li a {
                color: var(--color-text-hover);
            }

            li:nth-of-type(2) {
                background-color: #fff;
            }

            li:nth-of-type(2) a {
                display: flex;
                align-items: center;
                gap: .5rem;
            }
        }
    }

    .banner {
        width: 70%;
        display: flex;
        align-items: start;
        justify-content: end;
        z-index: 2;

        img {
            height: 100%;
            width: fit-content;
        }
    }

    .shape {
        width: 50%;
        height: 100%;
        background-color: var(--color-shape);
        border-radius: 40% 30% 0% 20%;

        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }
}

@media screen and (max-width: 1170px) {
    main #home {
        .cta {
            width: 100%;
            align-items: center;

            h1 {
                text-align: center;
                font-size: 3rem;
            }

            p {
                text-align: center;
            }

            .list-cta-buttons {
                flex-direction: column;
            }
        }

        .banner {
            display: none;
        }

        .shape {
            display: none;
        }
    }
}