#menu {
    min-height: calc(100vh - 92.8px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;

    .list-dishes {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(min(18rem, 100%), 1fr));
        align-items: start;              
        justify-items: center;
        gap: 1rem;

        .dishe {
            position: relative;
            background-color: #fff;
            border-radius: 12px;
            padding: .5rem;
            box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.1);
            overflow: hidden;

            article {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;

                h3, p {
                    text-align: center;
                }

                .dishe-heart {
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    width: 4.3rem;
                    height: 4.3rem;
                    background-color: var(--color-primary);
                    color: #fff;
                    font-size: 1.635rem;
                    border-radius: 0 37.5px 0 42.5px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                }
            }
        }
    }
}