{% extends "base/pages/base.html" %}

{% block title %}{% endblock title %}

{% block content %}
    <div class="todo-area">
        <div class="todo-box">
            <header>
                <h1>Todo<span>List</span></h1>
            </header>
            <main>
                <section class="new-todo">
                    <form action="{% url "create_task" %}" method="POST">{% csrf_token %}
                        <input type="text" placeholder="Add sua nova tarefa!" name="task">
                        <button type="submit">
                            <i class="bi bi-plus-circle"></i>
                        </button>
                    </form>
                    {% if messages %}
                        {% for msg in messages  %}
                            <p>{{msg}}</p>
                        {% endfor %}
                    {% endif %}
                </section>
                <section class="task-areas">
                    <ul>
                       {% for task in tasks  %}
                        {% include "todos/partials/list_tasks.html" %}
                       {% endfor %}
                    </ul>
                </section>
            </main>
            <footer>
                <p>
                    Você tem {{count}} tarefas pendentes.
                </p>
                <form action="{% url "clear" %}" method="POST">{% csrf_token %}
                    <button>
                        Limpar Concluídos
                    </button>
                </form>
            </footer>
        </div>
    </div>
{% endblock content %}